@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reddit Mono", monospace;
    font-weight: 400;

}

body {
    background: #E5E5E5;
}

main {
    display: flex;
    justify-content:space-between;
}

header {
    padding: 50px 50px;
    margin-bottom: 40px;
}

.conteiner {
    margin-left: 240px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mensagem_entrada {
    border: none;
    font-size: 2rem;
    font-weight: 400;
    color: #00755c;
    padding: 20px 20px;
    background: #E5E5E5;
    text-transform: lowercase;
}

.mensagem_entrada:focus {
    outline: none;
}

::placeholder {color:#00755c; }
    .campo__texto:focus{
        outline: none;
    }

.conteiner .informacao {
    margin-left: 20px;
    display: flex;
    gap: 4px;
}

.conteiner .informacao i{
    color: #495057;
}

.conteiner .informacao h6 {
    font-size: 12px;
    color: #495057;
}

.conteiner .botoes {
    margin-left: 20px;
    display: flex;
    gap: 40px;
}

.conteiner .botoes .estilo_btn {
    width: 300px;
    padding: 15px;
    background: #00755c;
    border-radius: 20px;
    font-size: 16px;
    color: #FFFFFF;
}

.secao_mensagem_saida {
    padding: 40px;
}

.secao_mensagem_saida .conteiner_mensagem_saida {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 36px;
    text-align: center;
    background: #FFFFFF;
    padding: 5px;
    margin-right: 50px;
}

.secao_mensagem_saida .conteiner_mensagem_saida
.mensagem_saida {
    border: none;
    background: transparent;
    padding: 30px;
    font-size: 32px;
    color: #00755c;
}

.mensagem_saida::placeholder{
    text-align: center;
}

.secao_mensagem_saida .conteiner_mensagem_saida
.estilo_btn {
    width: 300px;
    padding: 15px;
    background: #00755c;
    border-radius: 20px;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 20px;
}